.training-window {
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.training-window-inner {
    background-color: blue;
    width: 50%;
    height: 50%;
}