.envs-window {
    width: 100%;
    height: 100%;
}

.envs-head {
    width: 100%;
    height: 10%;
}

.envs-head p {
    font-size: calc(5px + 2vw);
    font-family: 'Montserrat';
    color: white;
    margin-left: 3%;
    font-weight: bold;
}

.envs-body {
    width: 95%;
    height: 80%;
    overflow-y: scroll;
    padding-left: 5%;
}