body {
    margin: 0;
    background-color: #0c0b10;
}

@font-face {
    font-family: 'Pixels';
    src: url('assets/fonts/Thirteen-Pixel-Fonts.ttf');
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    margin-right: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(75, 75, 67);
}

::-webkit-scrollbar-thumb {
    background: #d7d755;
    border-radius: 10px;
}