body {
    margin: 0;
    background-color: #0c0b10;
}

@font-face {
    font-family: 'Pixels';
    src: url('assets/fonts/Thirteen-Pixel-Fonts.ttf');
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    margin-right: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(75, 75, 67);
}

::-webkit-scrollbar-thumb {
    background: #d7d755;
    border-radius: 10px;
}

.swal2-modal {
    font-family: 'Montserrat';
}

.swal2-confirm {
    background-color: rgb(53, 53, 46) !important;
}

.swal2-cancel {
    background-color: rgb(53, 53, 46) !important;
}

.swal2-warning {
    border-color: yellow !important;
    color: yellow !important;
}