#auth-sign-in {
    display: none !important;
}

.supabase-auth-ui_ui-divider {
    display: none !important;
}

.c-kbVGyA {
    display: none !important;
}

.landing {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("./assets/images/Bg.jpg");
    background-size: contain;
}

.landing-navbar {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing-body {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.landing-navbar p {
    color: black;
    font-weight: 700;
    font-family: 'Montserrat';
    margin-right: 50px;
}

.t-dOnDMp {
    margin-right: 20px;
}

.rewards_landing_logo {
    height: 80%;
}

.rewards_descp {
    color: black;
    font-family: 'Montserrat';
    width: 40%;
}

.rewards_descp h1 {
    font-size: xX-large;
}

.rewards_descp p {
    font-size: large;
}

.rewards_descp a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
}